$font1: 'Roboto',
sans-serif;

a {
	text-decoration: none;
}

html,
body {}

body {
	margin: 0;
	color: #3b3b3b;
	background: #ffffff;
	font-family: $font1;
	font-size: 16px;
}

.container {
	box-sizing: border-box;
	width: 1200px;
	max-width: 95%;
	max-width: calc(100% - 16px * 2);
	margin: 0 auto;
}

#jGrowl {
	z-index: 999999;
}

*:focus {
	outline: none;
}

.hide {
	display: none;
}

.top-section {
	box-sizing: border-box;
	min-height: 100vh;
	padding-top: 62px;
	background: url(../img/bg-desktop.png) no-repeat center center;
	background-size: cover;

	&__logo {
		display: flex;
		align-items: center;

		img {
			width: 44px;
			line-height: 1
		}

		span {
			position: relative;
			z-index: 1;
			margin-left: 12px;
			letter-spacing: -.6px;
			text-transform: uppercase;
			color: #FFFFFF;
			font-weight: 500;
			font-size: 16px;
			line-height: 19px;
			font-style: normal;

			&::before {
				position: absolute;
				z-index: -1;
				top: 0;
				left: 0;
				width: 100%;
				margin-left: -1px;
				content: attr(data-text);
				color: #22F5EF;
			}

			&::after {
				position: absolute;
				z-index: -2;
				top: 0;
				left: 0;
				width: 100%;
				margin-top: 1px;
				margin-left: 1px;
				content: attr(data-text);
				color: #FE1753;
			}
		}
	}
}

.top-section-container {}

.top-section-flex {
	display: flex;

	&__left {
		width: 82%;
	}

	&__right {
		width: 18%;
		position: relative;
	}
}

.top-section-title {
	display: flex;
	align-items: center;
	letter-spacing: -.5px;
	color: #FFFFFF;
	font-weight: bold;
	font-size: 75px;
	line-height: 76px;
	font-style: normal;
	margin-top: 169px;

	&__span-1 {
		position: relative;
		z-index: 1;

		&::before {
			position: absolute;
			z-index: -2;
			top: 0;
			left: 0;
			width: 100%;
			margin-left: -4px;
			content: attr(data-text);
			color: #22F5EF;
		}

		&::after {
			position: absolute;
			z-index: -1;
			top: 0;
			left: 0;
			width: 100%;
			margin-left: -2px;
			content: attr(data-text);
			color: #FE1753;
		}
	}

	&__span-2 {
		margin-left: 17px;
		color: #000000;
		z-index: 1;
		position: relative;

		&::before {
			content: '';
			display: block;
			z-index: -1;
			position: absolute;
			left: 0;
			bottom: -3px;
			background: #FFFC03;
			width: 100%;
			height: 70px;
		}
	}
}

.top-section-title-img {
	display: inline-block;
	width: auto;
	height: 62px;
	margin-left: 15px;
	padding-top: 13px;
	content: '';
}

.top-section-sub-title {
	font-size: 24px;
	line-height: 28px;

	color: #FFFFFF;
	margin-top: 28px;
}

.btn {
	left: 200px;
	top: 425px;
	box-sizing: border-box;
	max-width: 100%;
	background: linear-gradient(0deg, #FFFC03, #FFFC03), linear-gradient(71.74deg, #F89E18 -5.9%, #FFFC03 95%);
	box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.1), 0px 2px 6px rgba(0, 0, 0, 0.1), 0px 8px 20px rgba(218, 95, 43, 0.5);
	border-radius: 42px;
	font-weight: 500;
	font-size: 24px;
	line-height: 28px;

	color: #100811;
	padding: 11px 55px;
	text-align: center;
	display: inline-block;
}

.ts-what-we-do {}

.ts-what-we-do-item {}

.ts-phone {
	position: absolute;
	right: 0;
	right: -10.3vw;
	top: 4.1vw;
	width: 29vw;
}
