$font1: 'Roboto',
sans-serif;

a {
	text-decoration: none;
}

html,
body {}

body {
	color: #3b3b3b;
	font-family: $font1;
	font-size: 16px;
	margin: 0;
	background: #ffffff;
}

.container {
	width: 1200px;
	max-width: 95%;
	max-width: calc(100% - 16px * 2);
	margin: 0 auto;
	box-sizing: border-box;
}

#jGrowl {
	z-index: 999999;
}

*:focus {
	outline: none;
}

.hide {
	display: none;
}


.top-section {
	background: url(../img/bg-desktop.png) no-repeat center center;
	background-size: cover;
	min-height: 100vh;

	&__logo {
		img {}

		span {
			&::before {
				content: attr(data-text);
			}

			&::after {}
		}
	}


}

.top-section-container {}

.top-section-flex {
	display: flex;

	&__left {}

	&__right {}
}

.top-section-title {
	&__span-1 {}

	&__span-2 {}
}

.top-section-sub-title {}

.btn {}

.ts-what-we-do {}

.ts-what-we-do-item {}

.ts-phone {}
