extends layouts/default

block vars
	-
		const page = {
			title: 'index.html'
		};




block main
	section.top-section
		.top-section-inner
			img.top-section-bubbles(src="../img/bubble.png" alt="")

			.container.top-section-container
				.top-section__logo
					img(src="../img/Logo.svg" alt="")
					span(data-text="Cougar Traffic Run") Cougar Traffic Run
				.top-section-flex
					.top-section-flex-left
						h1.top-section-title
							.top-section-title__span-1(data-text="Трафик из") Трафик из
							.top-section-title__span-2 SnapChat
							img.top-section-title-img(src="../img/fire.png" alt="")
						.top-section-sub-title Работаем с вашими целями как со своими
						.btn.btn-first-section Вперед!
						.ts-what-we-do
							.ts-what-we-do-item
								img.ts-what-we-do-item__tail(src="../img/MessageTail.svg" alt="")
								| Приводим трафик из Snapchat на мобильные приложения и не только
							.ts-what-we-do-item
								img.ts-what-we-do-item__tail(src="../img/MessageTail.svg" alt="")
								| Делаем креативы, локализуем, проходим модерацию, знаем все тонкости и секреты
							.ts-what-we-do-item
								img.ts-what-we-do-item__tail(src="../img/MessageTail.svg" alt="")
								| Адекватная комиссия и минимальный бюджет
							.ts-what-we-do-item
								| Консалтим и помогаем развивать бизнес
							.ts-what-we-do-item
								img.ts-what-we-do-item__tail(src="../img/MessageTail.svg" alt="")
								| Своя баинговая команда, прозрачная работа
							.ts-what-we-do-item
								| Выполняем KPI, приводим живой, платящий трафик

					.top-section-flex__right
						img.ts-phone(src="../img/phone-desktop.png" alt="")

	section.about-us-section
		.container.aus-container
			.aus-top
				img.aus-top__hand(src="../img/victory-hand.png" alt="")
				.aus-top__line-1 Хотите получить трафик с одной из самых богатых и растущих соцсетей?
				.aus-top__line-2 Мы в деле!
			.aus-block
				.aus-item.aus-item-snap
					.aus-item-heading  Мы — постоянные рекламные партнеры Snapchat, знаем все об этой платформе!
					.aus-item-text Приводим много трафика на свои и проекты клиентов и смогли изучить все подводные камни этой рекламной площадки

				.aus-item.aus-item-phone
					.aus-item-heading Наша специализация —  мобильные приложения и закупка трафика на подписочную модель
					.aus-item-text Это то, чем мы занимаемся постоянно, но мы также можем приводить вам траф на сайты и их мобильные версии

				.aus-item.aus-item-circle
					.aus-item-heading Наше кредо —  кристально чистый перфоманс
					.aus-item-text А проще говоря, мы не пожираем бюджет, не мычим, не жалуемся и работаем только по четким KPI для своего и вашего спокойствия :)
