extends layouts/default

block vars
	-
		const page = {
			title: 'index.html'
		};




block main
	section.top-section
		.top-section-inner
			img.top-section-bubbles(src="../img/bubble.png" alt="")

			.container.top-section-container
				.top-section__logo
					img(src="../img/Logo.svg" alt="")
					span(data-text="Cougar Traffic Run") Cougar Traffic Run
				.top-section-flex
					.top-section-flex-left
						h1.top-section-title
							.top-section-title__span-1(data-text="Трафик из") Трафик из
							.top-section-title__span-2 SnapChat
							img.top-section-title-img(src="../img/fire.png" alt="")
						.top-section-sub-title Работаем с вашими целями как со своими
						.btn.btn-first-section Вперед!
						.ts-what-we-do
							.ts-what-we-do-item
								| <svg class="ts-what-we-do-item__tail" width="13" height="34" viewBox="0 0 13 34" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M6 16.5C6 16.8465 6.0325 24.4995 6.0325 24.4995C6.0325 28.6985 3.5615 32.3115 0 33.991C4.6515 33.9055 8.9905 32.5495 12.689 30.2555C15.666 32.5985 19.418 33.9995 23.5 33.9995C33.165 33.9995 41 26.1645 41 16.4995C41 6.8345 33.165 0 23.5 0C13.835 0 6 6.835 6 16.5Z" fill="#161739"/></svg>
								span Приводим трафик из Snapchat на мобильные приложения и не только
							.ts-what-we-do-item
								| <svg class="ts-what-we-do-item__tail" width="13" height="34" viewBox="0 0 13 34" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M6 16.5C6 16.8465 6.0325 24.4995 6.0325 24.4995C6.0325 28.6985 3.5615 32.3115 0 33.991C4.6515 33.9055 8.9905 32.5495 12.689 30.2555C15.666 32.5985 19.418 33.9995 23.5 33.9995C33.165 33.9995 41 26.1645 41 16.4995C41 6.8345 33.165 0 23.5 0C13.835 0 6 6.835 6 16.5Z" fill="#161739"/></svg>
								span Делаем креативы, локализуем, проходим модерацию, знаем все тонкости и секреты
							.ts-what-we-do-item
								| <svg class="ts-what-we-do-item__tail" width="13" height="34" viewBox="0 0 13 34" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M6 16.5C6 16.8465 6.0325 24.4995 6.0325 24.4995C6.0325 28.6985 3.5615 32.3115 0 33.991C4.6515 33.9055 8.9905 32.5495 12.689 30.2555C15.666 32.5985 19.418 33.9995 23.5 33.9995C33.165 33.9995 41 26.1645 41 16.4995C41 6.8345 33.165 0 23.5 0C13.835 0 6 6.835 6 16.5Z" fill="#161739"/></svg>
								span Адекватная комиссия и минимальный бюджет
							.ts-what-we-do-item
								span Консалтим и помогаем развивать бизнес
							.ts-what-we-do-item
								| <svg class="ts-what-we-do-item__tail" width="13" height="34" viewBox="0 0 13 34" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M6 16.5C6 16.8465 6.0325 24.4995 6.0325 24.4995C6.0325 28.6985 3.5615 32.3115 0 33.991C4.6515 33.9055 8.9905 32.5495 12.689 30.2555C15.666 32.5985 19.418 33.9995 23.5 33.9995C33.165 33.9995 41 26.1645 41 16.4995C41 6.8345 33.165 0 23.5 0C13.835 0 6 6.835 6 16.5Z" fill="#161739"/></svg>
								span Своя баинговая команда, прозрачная работа
							.ts-what-we-do-item
								span Выполняем KPI, приводим живой, платящий трафик

					.top-section-flex__right
						img.ts-phone(src="../img/phone-desktop.png" alt="")

	section.about-us-section

		.container.aus-container
			.aus-top
				img.aus-top__hand(src="../img/victory-hand.png" alt="")
				.aus-top__line-1 Хотите получить трафик с одной из самых богатых и растущих соцсетей?
				.aus-top__line-2 Мы в деле!
			.aus-block
				.aus-item.aus-item-snap
					.aus-item-inner
						.aus-item-heading  Мы — постоянные рекламные партнеры Snapchat, знаем все об этой платформе!
						.aus-item-text Приводим много трафика на свои и проекты клиентов и смогли изучить все подводные  камни этой рекламной площадки

				.aus-item.aus-item-phone
					.aus-item-inner
						.aus-item-heading Наша специализация —  мобильные приложения и закупка трафика на подписочную модель
						.aus-item-text Это то, чем мы занимаемся постоянно, но мы также можем приводить вам траф на сайты и  их 	мобильные версии

				.aus-item.aus-item-circle
					.aus-item-inner
						.aus-item-heading Наше кредо —  кристально чистый перфоманс
						.aus-item-text А проще говоря, мы не пожираем бюджет, не мычим, не жалуемся и работаем только по четким 	KPI для своего и вашего спокойствия :)

	section.what-we-can-section
		.container.wwcs-container
			.wwcs-top
				img.wwcs-top__img(src="../img/meditation.png", alt="")
				.wwcs-top__line-1(data-text="Что у нас") Что у нас

			.wwcs-block
				.wwcs-item
					.wwcs-item-inner
						.wwcs-item-inner__title Шустрая и сработанная баинг-команда
						.wwcs-item-inner__text Мы умеем в разные модели закупки. Покупаем установки, регистрации и подписки. Умеем масштабироваться и давать стабильный поток трафика. Сами проводим маркетинговый анализ рекламируемого продукта, строим гипотезы исходя из особенностей Снапчата и людей, которые там сидят, и проектируем рекламные связки.
					img.wwcs-item-gif(src="../images/gif-1.gif", alt="")
				.wwcs-item
					.wwcs-item-inner
						.wwcs-item-inner__title Отлично знаем Snapchat
						.wwcs-item-inner__text Мы идеально знаем кабинет Snapchat и его возможности. Как-чего настроить, где подшаманить, как работать с аудиториями, таргетингом, делать креативы с высоким Swipe Rate, проходить модерацию, эффективно управлять кампаниями, типами ставок и бюджетами. Забираем одежду и мотоцикл, выжимаем максимум!
					img.wwcs-item-gif(src="../images/gif-2.gif", alt="")
				.wwcs-item
					.wwcs-item-inner
						.wwcs-item-inner__title Решаем тонкие моменты
						.wwcs-item-inner__text Мы давно общаемся с командой модераторов и знаем все политики и тонкости прохождения проверки в разных странах. У нас шикарный процент апрува. Мы также в теме, где и как можно сэкономить, чтобы направить максимальное количество денег непосредственно на трафик.
					img.wwcs-item-gif(src="../images/gif-3.gif", alt="")
				.wwcs-item
					.wwcs-item-inner
						.wwcs-item-inner__title Сами делаем креативы
						.wwcs-item-inner__text У нас совершенно отбитая команда креативщиков, но они делают рекламу, которая проходит модерацию, нравится пользователям в разных странах и зарабатывает нашим клиентам деньги. Мы также быстро и недорого можем организовать локализацию на любые нужные вам языки.
					img.wwcs-item-gif(src="../images/gif-4.gif", alt="")
				.wwcs-item
					.wwcs-item-inner
						.wwcs-item-inner__title Можем гораздо больше
						.wwcs-item-inner__text Мы - профессиональные маркетологи. А значит: проводим тесты, помогаем настроить аналитику, подскажем, как с помощью рекламы узнать важное про ваш продукт, проверить бизнес-модель, найти слабые места в продуктовой воронке и выйти на новые рынки.
					img.wwcs-item-gif(src="../images/gif-5.gif", alt="")

	section.about-snap-section
		.absns-top
			img.absns-top__pic(src="../img/ghost.png", alt="")
			h2.absns-top__title Что у
				span Snapchat
		.absns-block
			.absns-block-left
				.absns-block-left-bg
					img.absns-block-left-bg-img(src="../img/absnse-phone.png", alt="")
					img.absns-block-left__pic.absns-block-left__pic--1(src="../img/pic-1.png", alt="")
					img.absns-block-left__pic.absns-block-left__pic--2(src="../img/pic-2.png", alt="")
					img.absns-block-left__pic.absns-block-left__pic--3(src="../img/pic-3.png", alt="")
					img.absns-block-left__earth(src="../img/Земля.png", alt="")
					img.absns-block-left__triangle-line-1(src="../img/line-1.svg", alt="")
					img.absns-block-left__triangle-line-2(src="../img/line-2.svg", alt="")
					img.absns-block-left__triangle-line-3(src="../img/line-3.svg", alt="")
			.absns-block-right
				.absns-block-right-top
					.absns-block-right-top-flags
						img.absns-block-right-top-flag(src="../img/flag-for-united-states.png", alt="")
						img.absns-block-right-top-flag(src="../img/flag-for-japan.png", alt="")
						img.absns-block-right-top-flag(src="../img/flag-for-france.png", alt="")
						img.absns-block-right-top-flag(src="../img/flag-for-united-kingdom.png", alt="")
						img.absns-block-right-top-flag(src="../img/flag-for-india.png", alt="")
						img.absns-block-right-top-flag(src="../img/flag-for-brazil.png", alt="")
						img.absns-block-right-top-flag(src="../img/flag-for-turkey.png", alt="")

					.absns-block-right-top-text Соцсеть будущего с огромным количеством трафика в совершенно разных странах от богатых США, Японии, Франции, UK до развивающихся рынков Индии, Турции, Латинской Америки. Количество пользователей постоянно растет.
