footer.site-footer
	.container.sf-container
		.sf-logo
			.sf-logo-img
				img(src="", alt="")
			.sf-logo-text
				.sf-logo-text__line-1 Cougar Traffic Run
				.sf-logo-text__line-2 © 2020
		.sf-tiktok
			img(src="", alt="")
		.sf-snapchat
			img(src="", alt="")
		.sf-contacts
			.sf-contacts__line-1 +303403040011
			.sf-contacts__line-2 Cougartraffic@email
