footer.site-footer
	.container.sf-container
		.sf-row
			.sf-logo
				.sf-logo-img
					img(src="../img/footer-logo.svg", alt="")
				.sf-logo-text
					.sf-logo-text__line-1 Cougar Traffic Run
					.sf-logo-text__line-2 © 2020
			.sf-tiktok
				img(src="../img/tik-logo.svg", alt="")
			.sf-snapchat
				img(src="../img/snap-logo.svg", alt="")
			.sf-contacts
				.sf-contacts__line-1 +303403040011
				.sf-contacts__line-2 Cougartraffic@email
